* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background-color: rgba(219, 218, 216, 0.362);
}

input {
  border: none;
  outline: none;
  background-color: rgba(141, 139, 137, 0.362);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
